{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="aasba" />
</div>
{{ form_end(form) }}